
body {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#nav-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.4);
  border-width: 5px;
  border-radius: 0 0 14px 14px;
  margin: 0 auto;
}

.nav-items {
  display: flex;
  gap: 20rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(235, 111, 111, 0.3);
  border-radius: 10%;
}

.logo {
  height: 180px;
  margin-left: -12%;
}

.home-icon,
.about-icon {
  height: 90px;
}

.home,
.about {
  font-family: 'Oxanium', cursive;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
}

.main {
  display: none;
  background-color: rgba(255, 255, 255, 0.4);
  width: 85%;
  margin: 25px auto;
  border-radius: 14px 14px 0 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.4);
  border-width: 5px;
  border-radius: 0 0 14px 14px;
  margin: 0 auto;
}

.footerTopText {
  font-family: 'Oxanium', cursive;
  font-size: 18px;
}
